{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Escuela profesional de ingeniería de sistemas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'epis_web/styles.css' %}">
</head>
<body>
    <header>

    </header>
    <section>
        {% block content %}{% endblock %}
    </section>
    <br>
    <br>
    <footer id="app-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <h1>Nosotros</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et aliquid nisi optio quis rem totam porro cupiditate perspiciatis, amet dolorem soluta ullam rerum magni minima, laboriosam officia voluptatibus voluptatum adipisci.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <h1>Admisión</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <h1>Enláces rápidos</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <h1>Contáctanos</h1>
                </div>
            </div> 
        </div> 
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>