{% extends 'epis_web/base.html'%} 
{% load static %} 
{% block title %}Contacto{% endblock %} 
{% block content %}
<section id="epis-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Contacto</h1>
                <div class="epis-list-ho">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">
                                <i class="fa fa-home"></i>Inicio</a>
                        </li>
                        <li>
                            <span>Contacto</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    
</section>
{% endblock %}