{% extends 'epis_web/base.html'%} {% load static %} {% block title %} Misión y visión {% endblock %} {% block content %}
<section>
    <section id="app-breadcrumb">
        <div class="container">
            <h1>Plan de estudios</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home app-spr"></i>Inicio</a>
                </li>
                <li class="active">Plan de estudios</li>
            </ol>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Misión</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <h2>Visión</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}