{% extends 'epis_web/base.html'%}

{% load static %}

{% block title %} 
Misión y visión
{% endblock %}

{% block content %}
<section id="app-breadcrumb">
    <div class="container">
        <h1>Plan de estudios</h1> 
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home app-spr"></i>Inicio</a></li>
            <li><a href="#">Publicaciones</a></li>
            <li class="active">Noticias</li>
        </ol>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="well well-sm">
                            <a href="">
                                <div><img src="http://via.placeholder.com/350x300" alt="image" class="img-responsive"></div>
                                <h1>Campaña “Reciclar para Ayudar” permitió la donación de cinco sillas de hola</h1>
                                <span>22 mayo, 2018</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="row">
                    
                </div>
            </div>
            
        </div>
        
    </div>
</section>
{% endblock %}