{% extends 'epis_web/base.html'%} 

{% load static %} 

{% block title %} 
Plan de estudios históricos
{% endblock %} 

{% block content %}
<section>
        <section id="app-breadcrumb">
            <div class="container">
                <h1>Plan de estudios históricos</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url 'index' %}">
                            <i class="fa fa-home app-spr"></i>Inicio</a>
                    </li>
                    <li class="active">Plan de estudios históricos</li>
                </ol>
            </div>
        </section>
    </section>
{% endblock %} 