@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700')

$blanco: #f5f5f5
$celeste: #17a2b8


$color-yellow: #579fdf
$color-blue: #23394D
$color-white: #ffffff


.carousel-caption
    padding: 10px
    background-color: rgba(51, 51, 51, 0.5)
    border-radius: 5px

body
    font-family: 'Ubuntu', sans-serif  

    h3
        display: inline-block
        margin: 0
        padding: 0
        margin-bottom: 10px
        font-size: 1em
        font-weight: bold
        text-transform: uppercase
        color: $color-yellow
        border-bottom: 2px solid $color-yellow
    
    #app-breadcrumb
        padding-top: 40px
        padding-bottom: 20px
        margin-bottom: 50px
        background-color: $color-blue
        h1
            margin: 0
            padding: 0
            margin-bottom: 10px
            font-size: 1.5em
            font-weight: bold
            color: $color-white
        .breadcrumb
            padding-left: 0
            background-color: $color-blue
            li
                color: $color-white !important
                a
                    color: $color-white !important
            li:first-child
                a
                    padding: 5px
                    background-color: $color-white
                    color: $color-yellow !important
                    border-radius: 5px



footer
    background-color: #212121

.epis-list-ho
    ul
        margin: 0
        padding: 0
        li
            display: inline-block






#epis-breadcrumb
    margin: 0
    padding: 0
    background-color: #263238
    padding-top: 40px
    padding-bottom: 40px
    h1
        margin-bottom: 20px
        color: $blanco
        text-transform: uppercase
        font-size: 24px
        font-weight: bolder
    ul
        li
            a
                i
                    margin-right: 5px
                padding: 5px 10px 5px 10px
                color: $blanco
                border-radius: 4px
            span
                padding: 5px 10px 5px 10px
                color: $celeste
        li:first-child
            a
                background-color: $celeste





    
.app-spl
    margin-left: 5px
.app-spr
    margin-riht: 5px

.app-icon
    width: 30px
    height: 30px
    line-height: 30px
    text-align: center
    background-color: #579fdf
    color: $color-white
    border-radius: 50%
    display: inline-block
    margin-right: 10px

.panel-heading
    font-weight: bold
