{% extends 'epis_web/base.html'%} 
{% load static %} 
{% block title %}Malla curricular{% endblock %} 
{% block content %}
<section id="epis-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Malla curricular</h1>
                <div class="epis-list-ho">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">
                                <i class="fa fa-home"></i>Inicio</a>
                        </li>
                        <li>
                            <a href="{% url 'investigacion' %}">Investigación</a>
                        </li>
                        <li>
                            <span>Malla curricular</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
</section>
{% endblock %}