{% extends 'epis_web/base.html'%} {% load static %} {% block title %} Plan de estudios históricos {% endblock %} {% block content %}
<section>
    <section id="app-breadcrumb">
        <div class="container">
            <h1>Plan de estudios históricos</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'index' %}">
                        <i class="fa fa-home app-spr"></i>Inicio</a>
                </li>
                <li>
                    <a href="{% url 'investigacion' %}">Investigación</a>
                </li>
                <li class="active">
                    <span>Plan de estudios históricos</span>
                </li>
            </ol>
        </div>
    </section>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
            </div>
        </div>
    </div>
</section>
{% endblock %}